{erl_opts, [debug_info, fail_on_warning]}.

{provider_hooks, [
  {post, [{compile, {appup, compile}},
    {compile, escriptize},
    {clean, {appup, clean}}]}
]}.

{deps,[
  {ecsv,{git,"https://github.com/rcouch/ecsv.git",{branch, "master"}}},
  {eplot,{git,"https://github.com/psyeugenic/eplot",{branch, "master"}}},
  {esqlite, {git, "https://github.com/mmzeeman/esqlite.git",{branch,"master"}}}
]}.
{cover_enabled,true}.
