{erl_opts, [debug_info, fail_on_warning]}.

{provider_hooks, [
  {post, [{compile, {appup, compile}},
    {compile, escriptize},
    {clean, {appup, clean}}]}
]}.

{deps,[
  {esqlite, {git, "https://github.com/mmzeeman/esqlite.git",{branch,"master"}}},
  {erl_csv_generator, {git, "https://github.com/manastech/erl_csv_generator.git",{branch,"master"}}}
]}.
{cover_enabled,true}.
